body {
}
.header-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.header {
    background-color: navy;
}
.menu {
    background-color: crimson; 
}
.hero-container {
    background-color: cornflowerblue;
}
.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.main {
    background-color: navy;
}
.main-image {
    background-color: lightgreen;
}
.main-extra {
    background-color: green;
}
.banner-container {
    background-color: gold;
}